@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-script: "Roboto Serif", serif; 
  }

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: #0e0e0e;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}